
body {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.3;
    margin-top: 2em;
    margin-bottom: 2em;
}

h1, h2, h3 {
    line-height: 1;
    letter-spacing: -0.04em;
    margin-top: 0;
}

h1 {
    font-size: 40px;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 25px;
    margin-top: 0.5em;
}

h3 {
    font-size: 20px;
}

a {
    color: #1f77b4;
    border-bottom: 1px solid #1f77b4;
}

/* Disable bootstrap link underlining */
a:hover, a:focus {
    text-decoration: none;
}

a.disabled {
    pointer-events: none;
    cursor: default;

    color: #6e7074;
    border-color: #6e7074;
}

.note {
    font-family: monospace;
    font-size: 13px;
}

.note ul {
    padding-left: 0;
}

.note li {
    list-style: none;
}

.highlight {
    padding: 2em;
    margin-left: -2em;
    border-radius: 5px;
    background: #ffc1071f;
}

.hanging-arrow {
    margin-left: -1em;
}

img.inline {
    height: 1em;
}

/* SPAN */

span.box {
    padding: 1px;
    margin: 0 -2px 0 -2px;
    border-radius: 4px;
}

span.box .label {
    vertical-align: middle;
    margin-left: 2px;
    font-size: 0.7em;
}

span.box.PER {
    border: 1px solid #bbdefb;
    background: #e3f2fd;
}

span.box.LOC {
    border: 1px solid #c8e6c9;
    background: #e8f5e9;
}

span.box.ORG {
    border: 1px solid #ffcdd2;
    background: #ffebee;
}

/* DEMO */

#demo {
    margin: 0 0 1em -2em;
    padding: 0 2em 2em 2em;

    border: 1px solid #e4e4e4;
    border-radius: 5px;
}

#demo #controls {
    margin-top: 1em;
}

#demo button #running {
    display: none;
}

#demo .scroll {
    padding-top: 2em;
    height: 50vh;
    overflow: scroll;
}

#demo #editor {
    position: relative;
}

#demo #editor #text, #demo #editor #markup {
    white-space: pre-wrap;
    outline: none; 
}

#demo #editor #markup {
    color: transparent;
    position: absolute;
    top: 0;
    z-index: -1;
}

#demo #facts {
    font-family: monospace;
    font-size: 14px;

    white-space: pre-wrap;
}

#demo #examples a {
    border-bottom: 1px dashed;
}

/* ERRORS */

#errors .error {
    border-bottom: 2px dotted #E57377;
}

/* FOOTER */

#footer ul {
    padding-left: 0em;
}

#footer li {
    list-style: none;
}

/* COMPAT */

/* https://stackoverflow.com/questions/20435166/contenteditable-not-working-in-safari-but-works-in-chrome */
[contenteditable] {
    -webkit-user-select: text;
    user-select: text;
}

